
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
       <h3>Register</h3>
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="registerForm">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" formControlName="email">
      
        <div *ngIf="formSubmiited && form.email.errors" class="invalid-error">
        <div *ngIf="formSubmiited && form.email.errors?.required">
   Email is required.
        </div>
        <div *ngIf="formSubmiited && form.email.errors?.email">
          please enter valid email.
               </div>
      </div>

        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
        <div *ngIf="formSubmiited && form.password.errors" class="invalid-error">
          <div *ngIf="formSubmiited && form.password.errors?.required">
     Password is required.
          </div>
          <div *ngIf="formSubmiited && form.password.errors?.minlength">
              Minimum 8 characters required.
            </div>
            <!-- <div *ngIf="formSubmiited && form.password.errors?.pattern">
              Password contain atleast one special character.
            </div> -->
        </div>
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Confirm password" 
        formControlName="con_password">
        <div *ngIf="formSubmiited && form.con_password.errors" class="invalid-error">
          <div *ngIf="formSubmiited && form.con_password.errors?.required">
     Confirm Password is required.
          </div>
          <div *ngIf="formSubmiited && form.con_password.errors?.minlength">
              Minimum 8 characters required.
            </div>
            <!-- <div *ngIf="formSubmiited && form.con_password.errors?.pattern">
            Confirm  Password contain atleast one special character.
            </div> -->
           
        </div>
        <div *ngIf="passwordMatch" class="invalid-error">
            password and confirm password do not match.
        </div>

        <input type="text" id="password" class="fadeIn third" name="login" placeholder="User name" formControlName="username">
        <div *ngIf="formSubmiited && form.username.errors" class="invalid-error">
          <div *ngIf="formSubmiited && form.username.errors?.required">
         username is required.
          </div>
          
        </div>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Phone" formControlName="phone">
        <div *ngIf="formSubmiited && form.username.errors" class="invalid-error">
          <div *ngIf="formSubmiited && form.username.errors?.required">
      Phone is required.
          </div>
          </div>

        <input type="button" class="fadeIn fourth" value="Log In" (click)="checkLogin()">
      </form>
  
  
    </div>
  </div>